absl-py==1.1.0
asgiref==3.5.2
astunparse==1.6.3
dj-database-url==0.4.2
whitenoise==3.3.0
beautifulsoup4==4.6.3
bleach==5.0.1
catboost==1.0.6
charset-normalizer==2.0.12
cmd2==2.4.1
cuda-python==11.7.0
decorator==4.4.2
dill==0.3.5.1
Django==4.0.6
django-classy-tags==3.0.1
django-crispy-forms==1.14.0
django-js-asset==2.0.0
django-mptt==0.13.4
django-nyt==1.2.2
django-sekizai==4.0.0
etils==0.6.0
face-recognition-models==0.3.0
flatbuffers==1.12
gast==0.4.0
google-auth-oauthlib==0.4.6
google-pasta==0.2.0
graphviz==0.20
gunicorn==20.1.0
idna==3.3
imageio-ffmpeg==0.4.7
importlib-metadata==5.0.0
importlib-resources==5.7.1
kaggle==1.5.12
keras==2.9.0
Keras-Preprocessing==1.1.2
libclang==14.0.1
lightgbm==3.3.2
Markdown==3.3.7
MechanicalSoup==0.8.0
more-itertools==8.13.0
moviepy==1.0.3
murmurhash==1.0.7
networkx==2.8.3
nibabel==3.2.2
nilearn==0.9.1
numpy==1.23.3
nxviz==0.7.4
oauthlib==3.2.0
opt-einsum==3.3.0
palettable==3.3.0
pbr==5.9.0
Pillow==9.2.0
pliers==0.4.1
prettytable==0.7.2
proglog==0.1.10
progressbar2==3.34.3
promise==2.3
pyperclip==1.8.2
pyreadline3==3.4.1
python-magic==0.4.27
python-slugify==6.1.2
python-utils==3.3.3
requests==2.28.0
requests-oauthlib==1.3.1
scipy==1.9.1
six==1.16.0
sorl-thumbnail==12.9.0
sqlparse==0.4.2
statannot==0.2.3
statannotations==0.4.4
stevedore==3.5.0
tensorboard==2.9.1
tensorboard-data-server==0.6.1
tensorboard-plugin-wit==1.8.1
tensorflow-datasets==4.6.0
tensorflow-estimator==2.9.0
tensorflow-gpu==2.9.1
tensorflow-io-gcs-filesystem==0.26.0
tensorflow-metadata==1.8.0
termcolor==1.1.0
text-unidecode==1.3
tinycss2==1.1.1
tqdm==4.64.0
tzdata==2022.1
urllib3==1.26.9
webencodings==0.5.1
wiki==0.9
wincertstore==0.2
zipp==3.8.1
