
  {% extends 'users/base.html' %}
  {% load static %}
  
  
  {% block content %}

    <nav class="navbar navbar-light navbar-expand-md">
      <div class="container-fluid"><a class="navbar-brand" href="#" style="margin-left: 42px;padding-right: 0px;padding-left: 0px;margin-right: 98px;">Космология</a><button data-bs-toggle="collapse" class="navbar-toggler" data-bs-target="#navcol-1"><span class="visually-hidden">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
          <div class="collapse navbar-collapse" id="navcol-1">
              <ul class="navbar-nav">
                  <li class="nav-item"><a class="nav-link" href="{% url 'home' %}" style="margin-right: 30px;">О студии</a></li>
                  <li class="nav-item"><a class="nav-link active" href="{% url 'primeri' %}" style="margin-right: 30px">Примеры работ</a></li>
                  <li class="nav-item"><a class="nav-link" href="{% url 'order' %}" style="margin-right: 30px">Сделать заказ</a></li>
                  <li class="nav-item"><a class="nav-link" href="{% url 'zayavka' %}" style="margin-right: 30px;">Связаться с нами</a></li>
              </ul>
          </div>
      </div>
  </nav>

  <main>

        <div class="img-grid">

        <div class="video-preview">
            <div class="thumbnail-row">
              <img class="thumbnail" src="{% static 'assets/img/logo1.jpg' %}">
            </div>
            <div class="video-info-grid">
              <div class="video-info">
                <p class="video-title">
                  Мышка с травой.
                </p>
                <p class="video-author">
                  Автор: Евгения Р.
                </p>
                <p class="video-stats">
                  Срок изготовления: 3 дня.
                </p>
              </div>
            </div>
          </div>
    
          <div class="video-preview">
            <div class="thumbnail-row">
              <img class="thumbnail" src="{% static 'assets/img/logo1.jpg' %}">
            </div>
            <div class="video-info-grid">
              <div class="video-info">
                <p class="video-title">
                  Мышка с травой.
                </p>
                <p class="video-author">
                  Автор: Евгения Р.
                </p>
                <p class="video-stats">
                  Срок изготовления: 3 дня.
                </p>
              </div>
            </div>
          </div>
    
          <div class="video-preview">
            <div class="thumbnail-row">
              <img class="thumbnail" src="{% static 'assets/img/m.png' %}">
            </div>
            <div class="video-info-grid">
              <div class="video-info">
                <p class="video-title">
                  Мышка с травой.
                </p>
                <p class="video-author">
                  Автор: Евгения Р.
                </p>
                <p class="video-stats">
                  Срок изготовления: 3 дня.
                </p>
              </div>
            </div>
          </div>
    
          <div class="video-preview">
            <div class="thumbnail-row">
              <img class="thumbnail" src="{% static 'assets/img/logo1.jpg' %}">
            </div>
            <div class="video-info-grid">
              <div class="video-info">
                <p class="video-title">
                  Мышка с травой.
                </p>
                <p class="video-author">
                  Автор: Евгения Р.
                </p>
                <p class="video-stats">
                  Срок изготовления: 3 дня.
                </p>
              </div>
            </div>
          </div>
    
          <div class="video-preview">
            <div class="thumbnail-row">
              <img class="thumbnail" src="{% static 'assets/img/logo1.jpg' %}">
            </div>
            <div class="video-info-grid">
              <div class="video-info">
                <p class="video-title">
                  Мышка с травой.
                </p>
                <p class="video-author">
                  Автор: Евгения Р.
                </p>
                <p class="video-stats">
                  Срок изготовления: 3 дня.
                </p>
              </div>
            </div>
          </div>
    
          <div class="video-preview">
            <div class="thumbnail-row">
              <img class="thumbnail" src="{% static 'assets/img/logo1.jpg' %}">
            </div>
            <div class="video-info-grid">
              <div class="video-info">
                <p class="video-title">
                  Мышка с травой.
                </p>
                <p class="video-author">
                  Автор: Евгения Р.
                </p>
                <p class="video-stats">
                  Срок изготовления: 3 дня.
                </p>
              </div>
            </div>
          </div>
    

        </div>



    </main>
{% endblock content %}